Notebooks/**
results/**
mriot_data/**
resources/**
logs/**
.snakemake
.snakemake/**
autodownloads/**
benchmarks/**
dataportaal.pbl.nl/**
report/build/**
mrio-files/**
.mypy_cache
config/parameters_space_building.ods
stats.json
__pycache__
*.ipynb
